<div class="panel panel-default">
	<div class="panel-heading"><span><%= contract.contract_no %></span>
		<span class="pull-right">
			<%= link_to t('.edit'), edit_contract_path(contract) %> | 
		<%= link_to t('.create'), new_payment_path %></span>	
	</div>
	<div class="panel-body">
		<div class="col-sm-6">
			<div class="form-horizontal">
				<div class="form-group">
					<span class="col-sm-4"><%= t('.company') %></span>
					<span class="col-sm-8"><%= contract.company.name if contract.company.name.present? %></span>
				</div>
				<div class="form-group">
					<span class="col-sm-4"><%= t('.start') %></span>
					<span class="col-sm-8"><%= contract.contract_start %></span>
				</div>
				<div class="form-group">
					<span class="col-sm-4"><%= t('.end') %></span>
					<span class="col-sm-8"><%= contract.contract_end %></span>
				</div>
				<div class="form-group">
					<span class="col-sm-4"><%= t('.officer') %></span>
					<span class="col-sm-8"><%= contract.duty_officer %></span>
				</div>
				<div class="form-group">
					<span class="col-sm-4"><%= t('.fees') %></span>
					<span class="col-sm-8"><%= contract.fees %></span>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<% if !contract.payments.blank? %>
				<table class="table">
					<tr>
						<th><%= t('.pay_day') %></th>
						<th><%= t('.pay_amount') %></th>
						<th></th>
					</tr>
					<%= render contract.payments %>
				</table>
			<% end %>
		</div>
	</div>
</div>
