<%= form_for(@contract, html:{ class: "form-horizontal" }) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :contract_no, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
    <%= f.text_field :contract_no, class:"form-control" %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :contract_start, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
    <%= f.text_field :contract_start, class: "form-control datepicker" %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :contract_end, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
    <%= f.text_field :contract_end, class: "form-control datepicker" %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :duty_officer, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
    <%= f.text_field :duty_officer, class:"form-control" %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :fees, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
    <%= f.text_field :fees, class:"form-control" %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :company, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
		<%= f.select :company_code, Company.all.collect {|c| [c.name, c.code]}, { prompt: 'Select a company' }, { class:"form-control" } %>
		</div>
  </div>
  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
    <%= f.submit nil, class: "btn btn-default" %>
		</div>
  </div>
<% end %>
