<%= form_tag contracts_path,  method: :get ,  class: 'form-inline'  do %>
	<div class="form-group">
	<%= text_field_tag :search, params[:search], { class: 'form-control' } %>
	<%= submit_tag t('.search'), name: nil, class: 'btn btn-default' %>
	</div>
<% end %>

<%= link_to t('.create'), new_contract_path %>

<%= render @contracts %>
