<tr>
	<td><%= device.device_code %></td>
	<td><%= device.serial_no %></td>
	<td><%= device.model_no %></td>
	<td><%= device.manufacturer %></td>
	<td><%= device.first_use_date %></td>
	<td><%= device.verify_date %></td>
	<td><%= link_to "Edit", edit_device_path( device ) %></td>
</tr>
