<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_code %><br>
    <%= f.text_field :device_code %>
  </div>
  <div class="field">
    <%= f.label :serial_no %><br>
    <%= f.text_field :serial_no %>
  </div>
  <div class="field">
    <%= f.label :model_no %><br>
    <%= f.text_field :model_no %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :first_use_date %><br>
    <%= f.date_select :first_use_date %>
  </div>
  <div class="field">
    <%= f.label :verify_date %><br>
    <%= f.date_select :verify_date %>
  </div>
  <div class="field">
    <%= f.label :company_code %><br>
		<%= f.select :company_code, Company.all.collect {|c| [c.name, c.code]}, prompt: 'Select a company' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
