<div class="panel panel-default">
	<div class="panel-heading">
		<span><%= company.name %></span>
		<span class="pull-right">
			<%= link_to t('.edit'), edit_company_path(company) %> | 
			<%= link_to t('.destroy'), company, method: :delete, data: { confirm: t('.confirm') } %>
	</span>	
	</div>
	<div class="panel-body">
		<div class="form-horizontal">
			<div class="form-group form-group-sm">
				<span class="col-sm-2"><%= t('.code') %></span>
				<span class="col-sm-4"><%= company.code %></span>
				<span class="col-sm-2"><%= t('.area') %></span>
				<span class="col-sm-4"><%= company.area %></span>
			</div>
			<div class="form-group form-group-sm">
				<span class="col-sm-2"><%= t('.contacter') %></span>
				<span class="col-sm-4"><%= company.contacter %></span>
				<span class="col-sm-2"><%= t('.contact_number') %></span>
				<span class="col-sm-4"><%= company.contact_number %></span>
			</div>
			<div class="form-group form-group-sm">
				<span class="col-sm-2"><%= t('.address') %></span>
				<span class="col-sm-4"><%= company.address %></span>
				<span class="col-sm-2"><%= t('.device_count') %></span>
				<span class="col-sm-4"><%= company.devices.count %></span>
			</div>
		</div>
	</div>
	<% if !company.devices.blank?  %>
		<table class="table">
		<tr>
			<th><%= t('.device_code') %></th>
			<th><%= t('.serial_no') %></th>
			<th><%= t('.model_no') %></th>
			<th><%= t('.manufacturer') %></th>
			<th><%= t('.first_use_date') %></th>
			<th><%= t('.verify_date') %></th>
			<th></th>
		</tr>
			<%= render company.devices %>
		</table>
	<% end %>
</div>
