<%= form_tag payments_path,  method: :get ,  class: 'form-inline'  do %>
	<div class="form-group">
	<%= text_field_tag :search, params[:search], { class: 'form-control monthpicker' } %>
	<%= submit_tag t('.search'), name: nil, class: 'btn btn-default' %>
	</div>
<% end %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= link_to t('.create'), new_payment_path %>

<table class="table">
    <tr>
			<th><%= t('.pay_day') %></th>
			<th><%= t('.pay_amount') %></th>
			<th><%= t('.contract_no') %></th>
			<th><%= t('.company') %></th>
      <th></th>
    </tr>

    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.pay_day %></td>
        <td><%= payment.pay_amount %></td>
        <td><%= payment.contract_no %></td>
        <td><%= payment.contract.company.name %></td>
				<td>
					<%= link_to t('.edit'), edit_payment_path(payment) %> | 
          <%= link_to t('.destroy'), payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

