<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= lifts_url %>"><%= t('.title') %></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to t('.company'), lifts_path %></li>
				<li><%= link_to t('.device'), devices_path %></li>
				<li><%= link_to t('.contact'), contracts_path %></li>
				<li><%= link_to t('.payment'), payments_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= form_tag lifts_path, class: 'locale' do %>
						<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
						<%= submit_tag 'submit' %>
						<%= javascript_tag "$('.locale input ').hide()" %>
					<% end %>
				</li>
				<li>
				<%= link_to t('.logout') , logout_path, method: :delete %>
				</li>
			</ul>
		</div>
	</div>
</div>
